<article class="backimage">
    <section class="headoflabels">
        <img class="backimage" [src]="'data:image/png;base64,' + CurrentSlider.image" alt="">
        <img class="imageto" src="/assets/logo.png" alt="">
        <ul>
            <li><button [routerLink]="['/home']" >Home</button></li>
            <li><button [routerLink]="['/tours']" >Tours</button></li>
            <li><button [routerLink]="['/pages']" >Pages</button></li>
            <li><button [routerLink]="['/blog']" >Blog</button></li>
            <li><button [routerLink]="['/scodess']" >ShortCodess</button></li>
        </ul>
    </section>
    <section class="dots">
        <span [style]="'background-color: ' + slider.color" *ngFor="let slider of SliderImages" (click)="stopit();" [id]="'img' + slider.id"></span>
    </section>
    <section id="title1" class="title">
        <h1>{{CurrentSlider.title}}</h1>
        <p>{{CurrentSlider.desc}}</p>
    </section>
</article>